:root{
    --main-color :(#D85B6B);
    --sub-color-font:(#9E2734);
    --complementariy-color:(#420001);
}


.menu{
    color: #9E2734;
} 

.menu h4{
    cursor: pointer;
}

.menu h4:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: #D85B6B;
}

